html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: blueviolet;
}

.btn-link:hover{
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: blueviolet;
  border-color: aliceblue; /*set the color you want here*/
}
.btn-primary:hover {
  background-color: rgb(113, 43, 179);
  border-color: aliceblue; /*set the color you want here*/
}
.btn-primary::after {
  background-color: blueviolet;
}

.btn-primary:focus {
  background-color: blueviolet;
}

a {
  color: aliceblue;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: rgb(145, 145, 240) !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blueviolet;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.counter-wrapper {
  display: flex;
  justify-content: center;
}
.counter {
  transition: opacity 3s ease-in-out; /* Add a transition effect to opacity */
}
.card{
  background-color: aliceblue;
}
.card-header .title {
  font-size: 17px;
  color: #000;
}
.card-header .accicon {
float: right;
font-size: 20px;  
width: 1.2em;
}
.card-header{
cursor: pointer;
border-bottom: none;
}
.card{
border: 1px solid #ddd;
}
.card-body{
border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
transform: rotate(180deg);
}

.card-img-top{
  max-width: 30px;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

@media (max-width: 768px) {
  .col {
    flex-basis: 100% !important;
  }
  .pc-only {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}


.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}